name: Deploy Documentation to GitHub Pages

on:
  push:
    branches:
      - main  # Развёртывание при обновлении main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Право на запись в репозиторий

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          folder: .
          branch: gh-pages
          clean: false
          clean-exclude: |
            .gitignore
            CNAME
